<div class="container">
  <nav style="margin-bottom: 20px; display: flex" class="navbar navbar-expand-lg  navbar-light bg-light">
    <div class="container-fluid">
      <ul class="nav">
        <li class="active navbar-toggler"><a href="#">Главная</a></li>
        <li class="navbar-toggler"><a href="#">Машины</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <app-home-page></app-home-page>
      <app-cars-page></app-cars-page>
    </div>
  </div>
</div>
