<h2>
  Информация о машине № {{id}} - {{name}}.
</h2>
<!-- сюда выводим из адресной строки данные, полученные в результате действий (s2) -->
<!-- получаем их с помощью snapshot -->
<p>ID машины: {{id}}</p>
<p>Марка машины: {{name}}</p>
<p>Цвет машины: {{color}}</p>
<p>Год выпуска: {{year}}</p>
<p>{{hash}}</p>
<hr>
<!--все в/у параметры можно получать и иным способом (s1) -->
<h4>
  <!-- ссылка относится к (s1) -->

  <!--<a [routerLink]="['/cars', 8, 'testAuto']">-->
  <!--Открыть testAuto-->
  <!--</a>-->

  <!-- (s4) -->

  <a (click)="openPage()">
    Открыть testAuto
  </a>
</h4>